doctype html
html(lang="en")
  head
    script(src="/src/ajax.js")
    script(src="/test.js")
  body
    h1 Ajax
    button#button-get GET
    button#button-post-json POST json
    button#button-post-uri POST uri
